@*@model IEnumerable<Frequency.Edu.Models.Trainee>*@

@model PagedList.IPagedList<Frequency.Edu.Models.Trainee>
@using PagedList.Mvc;


<div style="background-image: url('../../Content/Images/bk5.jpg'); height: 600px; background-size: cover; margin-top: -20px; width: 120%; margin-left: -120px;">
    <div style="margin-left:100px;">
        <br /><br /><br />


        @{
            ViewBag.Title = "Index";
        }

        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/MyStyle.css" rel="stylesheet" />
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>

        @using (@Html.BeginForm())
        {
            <p>
                Search by Flat Name:@Html.TextBox("searchstring");
                <input type="submit" value="search" />
            </p>
        }

        <div class="table-responsive table-bordered table-hover table-striped" style="width:70%;">
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th>
                        Trainee Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Mobile
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Course
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TraineeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mobile)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.CourseName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.TraineeID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.TraineeID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.TraineeID })
                        </td>
                    </tr>
                }

            </table>

            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, Page => Url.Action("Index",
    new { Page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }
    ))

        </div>

    </div>

</div>